include head.pug
include header.pug
main
    section
        section.about
            img(src='img/diagonAlleyMap.webp' height='500')
            p
                | &Kcy;&ocy;&scy;&ocy;&jcy; &Pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&ocy;&kcy; (&acy;&ncy;&gcy;&lcy;. Diagon Alley) &mdash; &icy;&zcy;&vcy;&icy;&lcy;&icy;&scy;&tcy;&acy;&yacy; &ucy;&lcy;&icy;&tscy;&acy;, &mcy;&ocy;&shchcy;&iecy;&ncy;&ncy;&acy;&yacy; &bcy;&ucy;&lcy;&ycy;&zhcy;&ncy;&icy;&kcy;&ocy;&mcy;, &vcy;&ycy;&tcy;&yacy;&ncy;&ucy;&tcy;&acy;&yacy; &scy; &scy;&iecy;&vcy;&iecy;&rcy;&ocy;-&zcy;&acy;&pcy;&acy;&dcy;&acy; &ncy;&acy;
                | &scy;&iecy;&vcy;&iecy;&rcy;&ocy;-&vcy;&ocy;&scy;&tcy;&ocy;&kcy;. &IEcy;&dcy;&icy;&ncy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&iecy; &mcy;&iecy;&scy;&tcy;&ocy; &vcy; &Lcy;&ocy;&ncy;&dcy;&ocy;&ncy;&iecy;, &gcy;&dcy;&iecy; &mcy;&ocy;&zhcy;&ncy;&ocy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &mcy;&iecy;&tcy;&lcy;&ucy;, &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ucy;&yucy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&ucy; &icy; &mcy;&ncy;&ocy;&gcy;&ocy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy;
                | &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ycy;&khcy; &vcy;&iecy;&shchcy;&iecy;&jcy; &icy; &mcy;&acy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;. &Vcy; &Kcy;&ocy;&scy;&ocy;&mcy; &pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&kcy;&iecy; &ncy;&acy;&khcy;&ocy;&dcy;&icy;&tcy;&scy;&yacy; &tcy;&acy;&kcy;&zhcy;&iecy; &acy;&ncy;&gcy;&lcy;&icy;&jcy;&scy;&kcy;&ocy;&iecy; &ocy;&tcy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&ncy;&kcy;&acy;
                | &laquo;&Gcy;&rcy;&icy;&ncy;&gcy;&ocy;&tcy;&tcy;&scy;&raquo;. &Pcy;&rcy;&ocy;&jcy;&tcy;&icy; &vcy; &pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&ocy;&kcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &chcy;&iecy;&rcy;&iecy;&zcy; &kcy;&acy;&fcy;&iecy; &laquo;&Dcy;&ycy;&rcy;&yacy;&vcy;&ycy;&jcy; &kcy;&ocy;&tcy;&iocy;&lcy;&raquo;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &mcy;&acy;&gcy;&lcy;&ycy;, &ncy;&acy;&khcy;&ocy;&dcy;&yacy;&shchcy;&icy;&iecy;&scy;&yacy; &ncy;&acy;
                | &CHcy;&acy;&rcy;&icy;&ncy;&gcy;-&Kcy;&rcy;&ocy;&scy;&scy;-&Rcy;&ocy;&ucy;&dcy;, &ocy;&bcy;&ycy;&chcy;&ncy;&ocy; &ncy;&iecy; &vcy;&icy;&dcy;&yacy;&tcy;. &Pcy;&ocy;&pcy;&acy;&scy;&tcy;&softcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &tcy;&acy;&kcy;&zhcy;&iecy; &scy; &pcy;&ocy;&mcy;&ocy;&shchcy;&softcy;&yucy; &lcy;&iecy;&tcy;&ucy;&chcy;&iecy;&gcy;&ocy; &pcy;&ocy;&rcy;&ocy;&khcy;&acy; &pcy;&ocy; &kcy;&acy;&mcy;&icy;&ncy;&ncy;&ocy;&jcy; &scy;&iecy;&tcy;&icy;,
                | &pcy;&iecy;&rcy;&iecy;&mcy;&iecy;&scy;&tcy;&icy;&vcy;&shcy;&icy;&scy;&softcy; &vcy; &ocy;&dcy;&icy;&ncy; &icy;&zcy; &kcy;&acy;&mcy;&icy;&ncy;&ocy;&vcy;
    include newsletter.pug
include footer.pug