include head.pug
include header.pug
main
    section#FlourishandBlotts
    h2 &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;:
    form#bookCatalogForm
        label(for='genre') &Tcy;&icy;&pcy;:
        select#genre(name='genre')
            option(value='')
            option(value='Учебник') &Ucy;&chcy;&iecy;&bcy;&ncy;&icy;&kcy;
            option(value='Другое') &Dcy;&rcy;&ucy;&gcy;&ocy;&iecy;
            // добавить другие жанры
        label(for='year') &Kcy;&ucy;&rcy;&scy;:
        input#year(type='number' name='year')
        br
        label(for='author') &Acy;&vcy;&tcy;&ocy;&rcy;:
        input#author(type='text' name='author')
        br
        label(for='priceFrom') &TScy;&iecy;&ncy;&acy; &ocy;&tcy;:
        input#priceFrom(type='number' name='priceFrom')
        br
        label(for='priceTo') &TScy;&iecy;&ncy;&acy; &dcy;&ocy;:
        input#priceTo(type='number' name='priceTo')
        br
        label(for='availability') &Ncy;&acy;&lcy;&icy;&chcy;&icy;&iecy; &ncy;&acy; &scy;&kcy;&lcy;&acy;&dcy;&iecy;:
        select#availability(name='availability')
            option(value='')
            option(value='есть в наличии') &iecy;&scy;&tcy;&softcy; &vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
            option(value='нет в наличии') &ncy;&iecy;&tcy; &vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
        input(type='submit' value='Сгенерировать таблицу')
    #preloader loading...
    #resultsTable
    script(src='scr/table.js')
include footer.pug