header
    h1 Добро пожаловать в Косой Переулок!
    nav.header-nav
        .menu-container
            ul.menu
                li
                    a(href='index') Главная
                li
                    a(href='shops') Магазины
                li
                    a(href='about') О нас
                li
                    a(href='photos') Фотогалерея
                li
                    a(href='chat') Чат
                li
                    a(href='auth/google') Войти
    script(src='scr/header-active.js')
    script(src='scr/shops.js')
// script(src='scr/loadStats.js')

