head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Diagon alley
    include style.pug
    script(src='https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js')
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    link(type='text/css' rel='stylesheet' href='https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css')