header
    h1 Добро пожаловать в Косой Переулок!
    nav.header-nav
        .menu-container
            ul.menu
                li
                    a(href='index.pug') Главная
                li
                    a(href='shops.pug') Магазины
                li
                    a(href='about.pug') О нас
                li
                    a(href='photos.pug') Фотогалерея
    script(src='scr/header-active.js')
    script(src='scr/loadStats.js')
