include head.pug
include header.pug
main
    img(src='img/diagonAlleyNorthSide.jpg' height='500')
    section
        section#FlourishandBlotts
        section#Ollivanders
        section#QualityQuidditchSupplies
    include newsletter.pug
include footer.pug