include head.pug
include header.pug
main
    img(src='img/diagonAlleyNorthSide.jpg' height='500')
    section
        h2 Популярные магазины
        section.shop
            h3 Ollivander's Wand Shop
            img(src='img/Ollivanders.jpg' height='500')
            p
                | &Ocy;&lcy;&lcy;&icy;&vcy;&acy;&ncy;&dcy;&iecy;&rcy;&ycy; &mdash; &scy;&acy;&mcy;&ycy;&iecy; &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&icy; &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ycy;&khcy; &pcy;&acy;&lcy;&ocy;&chcy;&iecy;&kcy; &vcy; &Acy;&ncy;&gcy;&lcy;&icy;&icy;. &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy; &ecy;&tcy;&icy;&khcy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;&ocy;&vcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&acy; &ucy;&zhcy;&iecy;
                | &bcy;&ocy;&lcy;&iecy;&iecy; 2000 &lcy;&iecy;&tcy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Flourish and Blotts
            img(src='img/Flourish_&_Blotts.jpg' height='500')
            p
                | &Scy;&acy;&mcy;&ycy;&jcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&jcy; &kcy;&ncy;&icy;&zhcy;&ncy;&ycy;&jcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &vcy; &Kcy;&ocy;&scy;&ocy;&mcy; &Pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&kcy;&iecy;. &Scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&ucy;&iecy;&tcy; &scy; 1654 &gcy;&ocy;&dcy;&acy;. &Ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy; &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&icy;&kcy;&acy;&mcy;&icy; &Fcy;&lcy;&ocy;&rcy;&icy;&shcy;&iecy;&mcy; &icy;
                | &Bcy;&lcy;&ocy;&tcy;&tcy;&scy;&ocy;&mcy;.
            button(onclick="window.location.href = 'flourishandBlotts.pug'")  &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Madam Malkin's;s Robes for All Occasions
            img(src='img/Malkins.jpg' height='500')
            p
                | &Acy;&tcy;&iecy;&lcy;&softcy;&iecy;-&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &ncy;&acy;&khcy;&ocy;&dcy;&icy;&tcy;&scy;&yacy; &vcy; &Kcy;&ocy;&scy;&ocy;&mcy; &Pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&kcy;&iecy; &icy; &yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &scy;&acy;&mcy;&ycy;&mcy; &pcy;&ocy;&scy;&iecy;&shchcy;&acy;&iecy;&mcy;&ycy;&mcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&ocy;&mcy; &ocy;&dcy;&iecy;&zhcy;&dcy;&ycy;. &Zcy;&dcy;&iecy;&scy;&softcy;
                | &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&iecy; &mcy;&acy;&ncy;&tcy;&icy;&icy;, &ncy;&ocy; &icy; &pcy;&ocy;&dcy;&ocy;&gcy;&ncy;&acy;&tcy;&softcy; &icy;&khcy; &pcy;&ocy; &fcy;&icy;&gcy;&ucy;&rcy;&iecy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
    include newsletter.pug
include footer.pug