include head.pug
include header.pug
main
    section
        section
            nav.photos-nav
                ul.photos
                    li
                        img(src='img/diagonAlleyNorthSide.jpg' height='500')
                    li
                        img(src='img/diagonAlleySouthSide.webp' height='500')
                    li
                        img(src='img/diagonAlleyNorthSide.jpg' height='500')
        section
            nav.photos-nav
                ul.photos
                    li
                        img(src='img/diagonAlley1.png.webp' height='500')
                    li
                        img(src='img/diagonAlley2.png.webp' height='500')
                    li
                        img(src='img/diagonAlley3.png.webp' height='500')
                    li
                        img(src='img/diagonAlley4.webp' height='500')
        section
            nav.photos-nav
                ul.photos
                    li
                        img(src='img/TheLeakyCauldron.avif' height='500')
                    li
                        img(src='img/gringotts.png.webp' height='500')
        section
            nav.photos-nav
                ul.photos
                    li
                        img(src='img/Flourish_&_Blotts.jpg' height='500')
                    li
                        img(src='img/Malkins.jpg' height='500')
                    li
                        img(src='img/Ollivanders.jpg' height='500')
                    li
                        img(src="img/Eeylop'sOwlEmporium.jpg" height='500')
                    li
                        img(src='img/QualityQuidditchSupplies.avif' height='500')
                    li
                        img(src='img/TheMagicalMenagerie.avif' height='500')
                    li
                        img(src="img/Weasley'sWizardWheezes.avif" height='500')
    include newsletter.pug
include footer.pug