include head.pug
include header.pug
main
    section
        section.shop
            h3 The Leaky Cauldron
            img(src='img/TheLeakyCauldron.avif' height='500')
            p
                | &Pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&ncy;&ycy;&jcy; &pcy;&acy;&bcy;, &ncy;&acy;&khcy;&ocy;&dcy;&yacy;&shchcy;&icy;&jcy;&scy;&yacy; &scy;&ocy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ycy; &Lcy;&ocy;&ncy;&dcy;&ocy;&ncy;&acy; &ncy;&acy; &CHcy;&acy;&rcy;&icy;&ncy;&gcy;-&Kcy;&rcy;&ocy;&scy;&scy;-&Rcy;&ocy;&ucy;&dcy;. &CHcy;&iecy;&rcy;&iecy;&zcy; &zcy;&acy;&dcy;&ncy;&icy;&jcy; &dcy;&vcy;&ocy;&rcy; &pcy;&acy;&bcy;&acy; &mcy;&ocy;&zhcy;&ncy;&ocy; &pcy;&rcy;&ocy;&jcy;&tcy;&icy;
                | &vcy; &Kcy;&ocy;&scy;&ocy;&jcy; &pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&ocy;&kcy;, &tcy;&rcy;&icy;&zhcy;&dcy;&ycy; &kcy;&ocy;&scy;&ncy;&ucy;&vcy;&shcy;&icy;&scy;&softcy; &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ocy;&jcy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&ocy;&jcy; &kcy;&icy;&rcy;&pcy;&icy;&chcy;&acy; &ncy;&acy;&dcy; &ucy;&rcy;&ncy;&ocy;&jcy; (&laquo;&Tcy;&rcy;&icy; &vcy;&vcy;&iecy;&rcy;&khcy;... &dcy;&vcy;&acy; &vcy;
                | &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ucy;...&raquo;) &icy; &ocy;&tcy;&kcy;&rcy;&ycy;&vcy; &acy;&rcy;&kcy;&ucy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Ollivander&apos;s Wand Shop
            img(src='img/Ollivanders.jpg' height='500')
            p
                | &Ocy;&lcy;&lcy;&icy;&vcy;&acy;&ncy;&dcy;&iecy;&rcy;&ycy; &mdash; &scy;&acy;&mcy;&ycy;&iecy; &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&icy; &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ycy;&khcy; &pcy;&acy;&lcy;&ocy;&chcy;&iecy;&kcy; &vcy; &Acy;&ncy;&gcy;&lcy;&icy;&icy;. &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy; &ecy;&tcy;&icy;&khcy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;&ocy;&vcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&acy; &ucy;&zhcy;&iecy;
                | &bcy;&ocy;&lcy;&iecy;&iecy; 2000 &lcy;&iecy;&tcy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Gringotts Wizard Bank
            img(src='img/gringotts.png.webp' height='500')
            p &IEcy;&dcy;&icy;&ncy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ycy;&jcy; &bcy;&acy;&ncy;&kcy; &vcy; &mcy;&icy;&rcy;&iecy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Weasley&apos;s Wizard Wheezes
            img(src="img/Weasley'sWizardWheezes.avif" height='500')
            p &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &shcy;&ucy;&tcy;&ocy;&chcy;&ncy;&ycy;&khcy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy; &ocy;&tcy; &Fcy;&rcy;&iecy;&dcy;&acy; &icy; &Dcy;&zhcy;&ocy;&rcy;&dcy;&zhcy;&acy; &Ucy;&icy;&zcy;&lcy;&icy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Eeylop&apos;s Owl Emporium
            img(src="img/Eeylop'sOwlEmporium.jpg" height='500')
            p
                | &Mcy;&rcy;&acy;&chcy;&ncy;&ycy;&jcy; &ncy;&acy; &vcy;&icy;&dcy; &zcy;&ocy;&ocy;&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;, &gcy;&dcy;&iecy; &pcy;&rcy;&ocy;&dcy;&acy;&yucy;&tcy; &rcy;&acy;&zcy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &vcy;&icy;&dcy;&ycy; &pcy;&ocy;&chcy;&tcy;&ocy;&vcy;&ycy;&khcy; &scy;&ocy;&vcy; (&ncy;&iecy;&yacy;&scy;&ycy;&tcy;&icy; &ocy;&bcy;&ycy;&kcy;&ncy;&ocy;&vcy;&iecy;&ncy;&ncy;&ycy;&iecy;, &scy;&icy;&pcy;&ucy;&khcy;&icy;, &ucy;&shcy;&acy;&scy;&tcy;&ycy;&iecy;
                | &icy; &pcy;&ocy;&lcy;&yacy;&rcy;&ncy;&ycy;&iecy; &scy;&ocy;&vcy;&ycy; &icy; &dcy;&rcy;.), &iecy;&dcy;&ucy; &dcy;&lcy;&yacy; &ncy;&icy;&khcy; (&scy;&ocy;&vcy;&icy;&ncy;&ycy;&iecy; &vcy;&acy;&fcy;&lcy;&icy;, &ncy;&acy;&pcy;&rcy;&icy;&mcy;&iecy;&rcy;) &icy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&ycy;, &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&iecy; &vcy; &ucy;&khcy;&ocy;&dcy;&iecy; &zcy;&acy;
                | &ecy;&tcy;&icy;&mcy;&icy; &pcy;&tcy;&icy;&tscy;&acy;&mcy;&icy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Flourish and Blotts
            img(src='img/Flourish_&_Blotts.jpg' height='500')
            p
                | &Scy;&acy;&mcy;&ycy;&jcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&jcy; &kcy;&ncy;&icy;&zhcy;&ncy;&ycy;&jcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &vcy; &Kcy;&ocy;&scy;&ocy;&mcy; &Pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&kcy;&iecy;. &Scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&ucy;&iecy;&tcy; &scy; 1654 &gcy;&ocy;&dcy;&acy;. &Ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy; &vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&icy;&kcy;&acy;&mcy;&icy; &Fcy;&lcy;&ocy;&rcy;&icy;&shcy;&iecy;&mcy; &icy;
                | &Bcy;&lcy;&ocy;&tcy;&tcy;&scy;&ocy;&mcy;.
            button(onclick="window.location.href = 'flourishandBlotts.html'")  &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Quality Quidditch Supplies
            img(src='img/QualityQuidditchSupplies.avif' height='500')
            p &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &dcy;&lcy;&yacy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&icy; &mcy;&iocy;&tcy;&iecy;&lcy; &icy; &vcy;&scy;&iecy;&vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ycy;&khcy; &pcy;&rcy;&icy;&ncy;&acy;&dcy;&lcy;&iecy;&zhcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy; &dcy;&lcy;&yacy; &kcy;&vcy;&icy;&dcy;&dcy;&icy;&chcy;&acy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 Madam Malkin&apos;s Robes for All Occasions
            img(src='img/Malkins.jpg' height='500')
            p
                | &Acy;&tcy;&iecy;&lcy;&softcy;&iecy;-&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &ncy;&acy;&khcy;&ocy;&dcy;&icy;&tcy;&scy;&yacy; &vcy; &Kcy;&ocy;&scy;&ocy;&mcy; &Pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&kcy;&iecy; &icy; &yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &scy;&acy;&mcy;&ycy;&mcy; &pcy;&ocy;&scy;&iecy;&shchcy;&acy;&iecy;&mcy;&ycy;&mcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&ocy;&mcy; &ocy;&dcy;&iecy;&zhcy;&dcy;&ycy;. &Zcy;&dcy;&iecy;&scy;&softcy;
                | &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&iecy; &mcy;&acy;&ncy;&tcy;&icy;&icy;, &ncy;&ocy; &icy; &pcy;&ocy;&dcy;&ocy;&gcy;&ncy;&acy;&tcy;&softcy; &icy;&khcy; &pcy;&ocy; &fcy;&icy;&gcy;&ucy;&rcy;&iecy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
        section.shop
            h3 The Magical Menagerie
            img(src='img/TheMagicalMenagerie.avif' height='500')
            p &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;, &pcy;&rcy;&ocy;&dcy;&acy;&yucy;&shchcy;&icy;&jcy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&ocy;&vcy;, &ncy;&ocy; &icy; &mcy;&ncy;&ocy;&gcy;&icy;&khcy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &zhcy;&icy;&vcy;&ocy;&tcy;&ncy;&ycy;&khcy;.
            button &Pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&softcy;
    include newsletter.pug
include footer.pug