include head.pug
include header.pug
main
    section
        section#TheLeakyCauldron
        section#Ollivanders
        section#Gringotts
        section#WizardWheezes
        section#OwlEmporium
        section#FlourishandBlotts
        section#QualityQuidditchSupplies
        section#Malkins
        section#TheMagicalMenagerie
    include newsletter.pug
include footer.pug